.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--bgColor);
  box-shadow: var(--boxShadow);
}
